// colors
$accentColor ?= #66F
$accentDarkColor ?= desaturate(darken(#66F, 60%), 40%)
$textColor ?= #4D4D4D
// $borderColor ?= #eaecef
// $codeBgColor ?= darken(#4D4D4D, 10%)
$arrowBgColor ?= #BCBCBC
$badgeTipColor ?= #00BF9A
$badgeWarningColor ?= #CC9300
$badgeErrorColor ?= #EB4339

// // layout
// $navbarHeight ?= 3.6rem
// $sidebarWidth ?= 20rem
// $contentWidth ?= 740px
// $homePageWidth ?= 960px

// // responsive breakpoints
// $MQNarrow ?= 959px
// $MQMobile ?= 719px
// $MQMobileNarrow ?= 419px

// // code
// $lineNumbersWrapperWidth ?= 3.5rem
// $codeLang ?= js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
