footer
{
  margin-top: 6rem;
  padding: 3rem 0 6rem 0;
  background-color: @green;
  color: @white;

  a { color: white; text-decoration: underline; }

  .punk-logo
  {
    display: block;
    width: 130px;
    height: 33px;
    margin-top: -0.5em;
    margin-bottom: 1em;

    opacity: 0.5;

    background-image: url('../images/logo-word-short-LORES.png');
    background-size: cover;
  }
}
