@import './_reset.less';
@import './_utils.less';
@import './_fonts.less';
@import './_colors.less';
@import './_prism.less';

body
{
  color: @bluedark;
  font-size: 16px;
  font-family: helvetica, arial;
  line-height: 32px;
}

.outer { width: 100%; }
.inner { width: 768px; margin: 0 auto; }
.nav { background: #fff; height: 64px; .box-shadow; position: relative; z-index: 1;}
.nav .inner { width: 1024px; }
.header { background: @aqua; height: (16px * 15px); }
.breadcrumb { padding-left: 192px; color: white; }
.breadcrumb a { color: white; }
.logo-dark { .dib; margin-top: 20px; margin-left: 36px; .bg-image('../images/a2-dark.png'); width: 120px; height: 120px; }

.logo
{
  .dib;
  margin-right: 16px;
  font-size: 22px;
  font-family: 'Montserrat';
  line-height: 64px;
  font-weight: bold;
  text-transform: uppercase;
  color: @dark;
}

.logo::before
{
  display: inline-block;
  content: '';
  width: 40px;
  height: 40px;
  margin-right: 16px;
  .bg-image('../images/logo-a2-2color.png');
  vertical-align: middle;
}

.page-links { .dib; float: right; margin-right: 128px; width: 576px; }
.page-link { .dib; }
.page-link a
{
  .dib;
  height: 64px;
  line-height: 64px;
  color: @dark;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat';
  padding: 0px 16px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.page-link a.selected
{
  background: #eee;
  border-color: #ddd;
}

.wrap { margin-top: -64px; }
.sidebar {
  .dib;
  .box-shadow;
  width: 192px;
  margin-top: 32px;
  background-color: #eee;
  min-height: 64px;
  padding: 16px;
  li {

  }
}
.main { .dib; .box-shadow; width: 576px; background-color: #fff; }

.content { padding: 32px; }

h1 { .dib; width: 576px; float: right; font-size: 50px; color: #fff; font-family: 'marvel'; line-height: 128px;}
h1.long { font-size: 22px; }

.next-article { padding-left: 32px; padding-bottom: 32px; }
.previous-article { padding-left: 32px; padding-top: 32px;  }

a
{
  color: @aqua;
  text-decoration: none;
}

pre, p code, pre code
{
  font-family: 'Inconsolata', 'Consolas', 'Monaco', 'Andale Mono', monospace;
  font-size: 14px;
  line-height: 20px;
}

pre
{
  word-break: break-word;
  border: 1px solid #ddd;
  .border-radius(3px);
  background-color: #f5f2f0;
  padding: 16px;
  margin-bottom: 16px;
}

p { margin-bottom: 32px; }

p code
{
  word-break: break-word;
  background-color: #f5f2f0;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid #ddd;
  .border-radius(3px);
}

h2, h3, h4 { font-family: 'Montserrat'; font-weight: bold; font-size: 16px; }
h2, h3 { font-size: 18px; }
h2 { text-transform: uppercase; }

.sidebar li {
  line-height: 1.5;
  margin-bottom: 10px;
}

// Don't overemphasize previous so it competes with title -Tom

.previous-article {
  font-style: italic;
  font-size: 85%;
}

em {
  font-style: italic;
}
