@a2blue: #175d90;

body {
  color: #212121;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.75rem;
  background-color: #f0f0f0;
}

.logo
{
  padding-bottom: 2rem;
  border-bottom: 2px solid #232323;

  img
  {
    display: block;
    width: 75px;
    height: auto;
    margin: 0 auto;
  }
}

.content {
  width: 80%;
  max-width: 1040px;
  // border-radius: 1rem;
  background-color: white;
  padding: 2rem;
  margin: auto;
}

footer {
  width: 80%;
  border-radius: 1rem;
  background-color: #008;
  padding: 2rem;
  margin: auto;
  margin-top: 4em;
}

a {
  color: @a2blue;
  text-decoration: none;
}

pre, p code, pre code
{
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

pre {
  background-color: #f5f2f0;
  padding: 1em;
}

p code
{
  font-size: 0.9rem;
  background-color: #f5f2f0;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid darken(#f5f2f0, 20%);
  border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.25em;
  margin-bottom: 0.75em;
}
