{% extends "default.html" %}

{% block topOfContent %}
{% endblock %}

{% block bodyClass %}landing landing--editor{% endblock %}
{% block headerClass %}landing landing--editor clearfix{% endblock %}
{% block headerInnerClass %}clearfix{% endblock %}

{% block header %}
  <div class="landing-illustration landing-illustration--editor"></div>
  <div class="landing-text-outer">
    <div class="landing-text-inner">
      <h3>Apostrophe is a content management system that helps you stay on mission.</h3>
      <a href="http://demo.apostrophenow.com" class="landing-button">Try the Live Demo</a>
    </div>
  </div>
{% endblock %}
