{% extends "default.html" %}

{% block topOfContent %}
{% endblock %}

{% block bodyClass %}home landing--editor{% endblock %}
{% block headerClass %}home landing--editor clearfix{% endblock %}
{% block headerInnerClass %}clearfix{% endblock %}

{% block header %}
  <div class="editor-illustration"></div>
  <div class="editor-text-outer">
    <div class="editor-text-inner">
      <h3>Apostrophe is a content management system that helps you stay on mission.</h3>
      <a href="http://demo.apostrophenow.com" class="home-button">Try the Live Demo</a>
    </div>
  </div>
{% endblock %}
