{% extends "default.html" %}

{% block topOfContent %}
{% endblock %}

{% block bodyClass %}home{% endblock %}
{% block headerClass %}home clearfix{% endblock %}
{% block headerInnerClass %}clearfix{% endblock %}

{% block header %}
  <div class="home-illustration"></div>
  <div class="home-text-outer">
    <div class="home-text-inner">
      <h3>Apostrophe is a content management system that helps you stay on mission.</h3>
      <a href="http://demo.apostrophenow.com" class="home-button">Try the Live Demo</a>
    </div>
  </div>
{% endblock %}