{% extends "default.html" %}

{% block topOfContent %}
{% endblock %}

{% block bodyClass %}landing header--home{% endblock %}
{% block headerClass %}landing header--home clearfix{% endblock %}
{% block headerInnerClass %}clearfix{% endblock %}

{% block header %}
  <div class="landing-text">
    <h2>Apostrophe 2.x is in the building.</h2>
    <h3>Apostrophe is a node.js content management system that helps you stay on mission.</h3>
    <div class="landing-buttons">
      <a href="docs/tutorials/getting-started/index.html" class="landing-button">Get Started (Tutorial)</a>
      <a href="http://demo.apostrophecms.org" class="landing-button">Try the Live Demo</a>
    </div>
  </div>
  <div class="landing-illustration landing-illustration--home"></div>
{% endblock %}

{% block extraHeader%}
  <div class="extra-header">
    <div class="inner">
      <h3>You can start building with Apostrophe right now.</h3>
      <code>
        <div><span class="red">$</span> npm install apostrophe-cli -g</div>
        <div><span class="red">$</span> apostrophe create &lt;project-name&gt;</div>
      </code>
      <p>Get up and running in fifteen minutes with our <a href="docs/tutorials/getting-started/index.html">Getting Started</a> tutorial.</p>
    </div>
  </div>
{% endblock %}

{% block inner %}
  {{ content }}
{% endblock %}
