{% extends "default.html" %}

{% block bodyClass %}landing header--documentation{% endblock %}
{% block headerClass %}landing header--documentation{% endblock %}

{% block header %}
  {{ super() }}
  <div class="landing-illustration landing-illustration--documentation"></div>
{% endblock %}

{% block extraHeader%}
  <div class="extra-header">
    <div class="inner">
      <div class="welcome">
        <h3>Welcome to the Apostrophe documentation!</h3>
        <p>Read our tutorials, explore the full API documentation, or check out the glossary.</p>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="cards">
      <a class="card minor" href="tutorials/index.html">
        <img src="../images/illustration-tutorials.svg">
        <div class="card-minor-text">
          <h4>Tutorials</h4>
          <p>Our tutorials cover everything you need to know to get started as an Apostrophe developer. Everyone should start here. Our tutorials are progressive, so you can learn as you go.</p>
        </div>
      </a>

      <a class="card minor" href="technical-overviews/index.html">
        <img src="../images/illustration-reference.svg">
        <div class="card-minor-text">
          <h4>Technical Overviews</h4>
          <p>Our technical overviews are ideal for pros who want to understand our decisions and philosophy.</p>
        </div>
      </a>

      <a class="card minor" href="modules/index.html">
        <img src="../images/illustration-reference.svg">
        <div class="card-minor-text">
          <h4>Module Reference</h4>
          <p>Our module reference provides complete coverage of Apostrophe's modules and their related object types. Each module provides a particular feature, often including both front and back end code.</p>
        </div>
      </a>

      <a class="card minor" href="nunjucks-filters.html">
        <img src="../images/illustration-reference.svg">
        <div class="card-minor-text">
          <h4>Nunjucks Filters</h4>
          <p>Apostrophe is powered by the Nunjucks template language, which is compatible with Jinja and Twig. In addition to many helper functions, Apostrophe provides additional Nunjucks "filters" to transform data for output.</p>
        </div>
      </a>

      <a class="card minor" href="glossary.html">
        <img src="../images/illustration-tutorials.svg">
        <div class="card-minor-text">
          <h4>Glossary</h4>
          <p>Learn the language of Apostrophe.</p>
        </div>
      </a>

      <a class="card minor" href="more-modules.html">
        <img src="../images/illustration-tutorials.svg">
        <div class="card-minor-text">
          <h4>More Modules</h4>
          <p>You've met the core modules that ship in the <code>apostrophe</code> npm module. But there are more. And you can create more.</p>
        </div>
      </a>

      <a class="card minor" href="core-server.html">
        <img src="../images/illustration-reference.svg">
        <div class="card-minor-text">
          <h4>Core Server</h4>
          <p>The core <code>apos</code> object on the server orchestrates the whole dance.</p>
        </div>
      </a>

      <a class="card minor" href="core-browser.html">
        <img src="../images/illustration-reference.svg">
        <div class="card-minor-text">
          <h4>Core Browser</h4>
          <p>The browser has an <code>apos</code> object too, tying it all together.</p>
        </div>
      </a>

    </div>
  </div>
{% endblock %}
