{% extends "default.html" %}

{% block bodyClass %}landing landing--support{% endblock %}
{% block headerClass %}landing landing--support{% endblock %}

{% block extraHeader%}
  <div class="extra-header">
    <div class="inner">
      <div class="welcome">
        <h3>It's a support section!</h3>
        <p>Here is some intro text.</p>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="cards">
      <div class="card enterprise">
        <h4>Enterprise Support</h4>
        <p>We provide <a href="enterprise-support.html">full-service enterprise support for Apostrophe</a> here at <a href="http://punkave.com">P'unk Avenue</a>, the full-service design and development studio where Apostrophe was born.</p>
        <p><a class="card-link" href="enterprise-support.html">Learn About Apostrophe Enterprise Support</a></p>
      </div>

      <div class="card roadmap">
        <h4>Development Roadmap &amp; LTS</h4>
        <p>Our <a href="roadmap.html">development roadmap</a> provides details on the long-term roadmap for Apostrophe, including our commitment to long-term support for Apostrophe 2.x.</p>
        <p><a class="card-link"  href="roadmap.html">Learn About the Apostrophe Roadmap</a></p>
      </div>
    </div>
  </div>
{% endblock %}
