{% macro buildMenuTree(currentIndex) %}
  <ul class="sidebar-items">
    {% for child in ancestors[currentIndex].children %}
      <li class="sidebar-item{% if url == child.url %} current-page{% endif %}">
        {% if url == child.url %}
          {{ child.title | e }}
        {% else %}
          <a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a>
        {% endif %}
      </li>
      {% if currentIndex < (ancestors.length - 1) and child.url == ancestors[currentIndex + 1].url %}
        {{ buildMenuTree(currentIndex + 1) }}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro docTypeClass() -%}
  {%- for _page in ancestors -%}
    {%- if _page.docType -%}{{ _page.docType }}{%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{% macro typeCheck() -%}
  {%- for _page in ancestors -%}
    {%- if _page.type -%}{{ _page.type }}{%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Apostrophe: {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ root }}stylesheets/main.css">
  <script src="{{ root }}javascript/prism.js"></script>
  <script src="{{ root }}javascript/jquery.min.js"></script>
  <script src="{{ root }}javascript/main.js"></script>
</head>
<body class="{% block bodyClass %}{{typeCheck()}}{% endblock %}">
  <nav class="outer">
    <div class="mark left">
      <a class="logo" href="{{ root }}" alt="Apostrophe 2"></a>
    </div>
    <div class="links right">
        <ul class="page-links">
          {# ancestors[0] == home, so its kids are the tabs #}
          {% if typeCheck() == 'help'%}
            {% for tab in ancestors[1].children %}
              <li class="page-link">
                {# If this tab is our ancestor, it's selected #}
                <a href="{{ root }}{{ tab.url }}" class="{% if ancestors[1] and (tab.url == ancestors[1].url) %}selected{% endif %}">{{ tab.title | e }}</a>
              </li>
            {% endfor %}
          {% else %}
            {# Hardcode the documentation dropdown menu for now. -Tom #}
            <li data-dropdown class="page-dropdown">
              <ul>
                <li data-dropdown-toggle class="dropdown-label">
                  <a href="#">Documentation</a>
                  <ul class="page-dropdown-toggled">
                    <li class="page-link">
                      <a href="{{ root }}/tutorials/index.html">Tutorials</a>
                    </li>
                    <li class="page-link">
                      <a href="{{ root }}/reference/index.html">Reference</a>
                    </li>
                    <li class="page-link">
                      <a href="{{ root }}/howtos/index.html">HOWTOs</a>
                    </li>
                    <li class="page-link">
                      <a href="{{ root }}/glossary.html">Glossary</a>
                    </li>
                    <li class="page-link">
                      <a href="{{ root }}/migration.html">Migration</a>
                    </li>
                  </ul>
              </ul>
            </li>
            {% for tab in ancestors[0].children %}
              {% if not tab.menu %}
                <li class="page-link">
                  {# If this tab is our ancestor, it's selected #}
                  <a href="{{ root }}{{ tab.url }}" class="{% if ancestors[1] and (tab.url == ancestors[1].url) %}selected{% endif %}">{{ tab.title | e }}</a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="page-link">
              <a href="https://groups.google.com/forum/#!forum/apostrophenow" target="_blank">Forum</a>
            </li>
            <li class="page-link">
              <a href="https://github.com/punkave/apostrophe" target="_blank">Github</a>
            </li>
          {% endif %}
          <li class="page-link search-box">
            <script>
              (function() {
                var cx = '005543154079868254739:jxhstkgpui4';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox></gcse:searchbox>
          </li>
        </ul>

      </ul>
    </div>
  </nav>

  <div class="header {% block headerClass %}{% endblock %}">
    <div class="inner {% block headerInnerClass %}{% endblock %}">
      {% block header %}
        <div class="doc-type">
          <div class="type-image {{ typeCheck() }} {{ docTypeClass() }}"></div>
        </div>
        <h1 class="{% if title.length > 30 %}long{% endif %}">{{ title | e }}</h1>
      {% endblock %}
    </div>
  </div>
  {% block extraHeader%}
  {% endblock%}
  
  <div class="wrap outer">
    <div class="inner">
      <div class="sidebar">
        <div class="sidebar-section sidebar-title try-apostrophe">
          <a href="http://demo.apostrophenow.com" target="_blank">Try Apostrophe</a>
        </div>
        {% block sidebar %}
          <ul class="sidebar-section">
            {%  if ancestors.length == 1 %}
              {% for child in children %}
                <li class="sidebar-item"><a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a></li>
              {% endfor %}
            {% endif %}
            <li class="sidebar-title"><a href="{{ root }}{{ ancestors[1].url }}">{{ ancestors[1].title | e }}</a></li>
            {{ buildMenuTree(1) }}
          </ul>
        {% endblock %}
        <p class="sidebar-help">
          {% if typeCheck() == 'help' %}
            Are you a developer? You may want to check out our <a href="{{ root }}">documentation site</a>.
          {% else %}
            Are you an editor? You may want to check out our <a href="{{ root }}/help">help site</a>.
          {% endif %}
        </p>
      </div>{#
      #}<div class="main">
        <div data-search style="display: none;">
          <div class="search-results">
            <gcse:searchresults></gcse:searchresults>
          </div>
        </div>
        {% block previous %}
          {% if previous %}
            <p class="previous-article"><a href="{{ root }}{{ previous.url }}">&larr; Previous: {{ previous.title | e }}</a></p>
          {% endif %}
        {% endblock %}

        {% block main %}

        {% endblock %}

        {% block next %}
          {% if next %}
            <p class="next-article"><a href="{{ root }}{{ next.url }}">Next: {{ next.title | e }} &rarr;</a></p>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
  <footer>
    <div class="inner">
      <div class="right">
        <a href="http://punkave.com" class="punk-logo"></a>
      </div>
      <div>
        Apostrophe is led by <a href="http://punkave.com">P'unk Avenue</a> in Philadelphia, PA.
      </div>
    </div>
    <div class="inner">
      <div class="linode-credit">
        Generously hosted by <a href="http://linode.com">linode.</a>
      </div>
    </div>
  </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-496991-42', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
