{% macro buildMenuTree(currentIndex) %}
  <ul class="sidebar-items">
    {% for child in ancestors[currentIndex].children %}
      <li class="sidebar-item{% if url == child.url %} current-page{% endif %}">
        {% if url == child.url %}
          {{ child.title | e }}
        {% else %}
          <a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a>
        {% endif %}
      </li>
      {% if currentIndex < (ancestors.length - 1) and child.url == ancestors[currentIndex + 1].url %}
        {{ buildMenuTree(currentIndex + 1) }}
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Apostrophe: {{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ root }}stylesheets/main.css">
  <script src="{{ root }}javascript/prism.js"></script>
  <script src="{{ root }}javascript/jquery.min.js"></script>
  <script src="{{ root }}javascript/main.js"></script>
</head>
<body {% block bodyClass %}{% endblock %}>
  <nav class="outer">
    <div class="mark left">
      <a class="logo" href="/" alt="Apostrophe 2"></a>
    </div>
    <div class="links right">
        <ul class="page-links">
          {# ancestors[0] == home, so its kids are the tabs #}
          {% for tab in ancestors[0].children %}
            <li class="page-link">
              {# If this tab is our ancestor, it's selected #}
              <a href="{{ root }}{{ tab.url }}" class="{% if ancestors[1] and (tab.url == ancestors[1].url) %}selected{% endif %}">{{ tab.title | e }}</a>
            </li>
          {% endfor %}
          <li class="page-link">
            <a href="https://groups.google.com/forum/#!forum/apostrophenow">➡ Forum</a>
          </li>
          <li class="page-link donate-button">
            <form class="donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="PPMEBL7ZZSDYC">
              <input type="submit" value="Donate" />
            </form>
          </li>
          <li class="page-link">
            <input class="search" type="search" />
          </li>
        </ul>

      </ul>
    </div>
  </nav>

  <div class="header">
    <div class="inner">
      {% block header %}
        <a href="{{ root }}" class="logo-dark-container"><div class="logo-dark"></div></a>{#
      #}<h1 class="{% if title.length > 30 %}long{% endif %}">{{ title | e }}</h1>
      {% endblock %}
    </div>
  </div>

  <div class="wrap outer">
    <div class="inner">
      <div class="sidebar">
        {% block sidebar %}
          <ul>
            {%  if ancestors.length == 1 %}
              {% for child in children %}
                <li class="sidebar-item"><a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a></li>
              {% endfor %}
            {% endif %}
            <li class="sidebar-title"><a href="{{ root }}{{ ancestors[1].url }}">{{ ancestors[1].title | e }}</a></li>
            {{ buildMenuTree(1) }}
          </ul>
        {% endblock %}
      </div>{#
      #}<div class="main">
        <div data-search style="display: none;">
          <div class="search-box">
            <script>
              (function() {
                var cx = '005543154079868254739:jxhstkgpui4';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox></gcse:searchbox>
          </div>
          <div class="search-results">
            <gcse:searchresults></gcse:searchresults>
          </div>
        </div>
        {% block previous %}
          {% if previous %}
            <p class="previous-article"><a href="{{ root }}{{ previous.url }}">&larr; Previous: {{ previous.title | e }}</a></p>
          {% endif %}
        {% endblock %}

        {% block main %}

        {% endblock %}

        {% block next %}
          {% if next %}
            <p class="next-article"><a href="{{ root }}{{ next.url }}">Next: {{ next.title | e }} &rarr;</a></p>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
