<!DOCTYPE html>
{# I moved the doctype up so it would never be after whitespace and thus invalid. -Tom #}

{% macro buildMenuTree(currentIndex) %}
  <ul class="sidebar-items">
    {% if ancestors[currentIndex].module %}
      {% set namespaces = [
        {
          value: 'server',
          label: 'Server'
        },
        {
          value: 'browser',
          label: 'Browser'
        }
       ] %}
      {% for namespace in namespaces %}
        {% if ancestors[currentIndex].namespaces[namespace.value] %}
          <li class="sidebar-namespace {{ namespace.value }}">{{ namespace.label }}</li>
            <ul class="sidebar-namespace-items">
              {% for child in ancestors[currentIndex].children %}
                {% if child.namespace == namespace.value %}
                  <li class="sidebar-item{% if url == child.url %} current-page{% endif %}">
                    {% if url == child.url %}
                      <span class="label">{{ child.title | e }}</span>
                    {% else %}
                      <a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a>
                    {% endif %}
                    {% if currentIndex < (ancestors.length - 1) and child.url == ancestors[currentIndex + 1].url %}
                      {{ buildMenuTree(currentIndex + 1) }}
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for child in ancestors[currentIndex].children %}
        <li class="sidebar-item{% if url == child.url %} current-page{% endif %}">
          {% if url == child.url %}
            {{ child.title | e }}
          {% else %}
            <a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a>
          {% endif %}
          {% if currentIndex < (ancestors.length - 1) and child.url == ancestors[currentIndex + 1].url %}
            {{ buildMenuTree(currentIndex + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endmacro %}

{% macro docTypeClass() -%}
  {%- for page in ancestors -%}
    {%- if page.docType -%}{{ page.docType }}{%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

{% macro typeCheck() -%}
  {%- for page in ancestors -%}
    {%- if page.type -%}{{ page.type }}{%- endif -%}
  {%- endfor -%}
{%- endmacro -%}

<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Apostrophe: {{ title }}</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ root }}stylesheets/main.css?v7">
  <script src="{{ root }}javascript/prism.js"></script>
  <script src="{{ root }}javascript/jquery.min.js"></script>
  <script src="{{ root }}javascript/main.js?v6"></script>

  <meta property="og:image" content="http://apostrophecms.org/images/apostrophe-og.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="description" property="og:description" content="Apostrophe is a Node.js based CMS that helps you stay on mission." />
  <meta property="og:url" content="">
  <meta property="og:title" content="">
</head>
<body class="{% block bodyClass %}{{typeCheck()}} {{ layout }}{% if noOnThisPage %} no-on-this-page{% endif %}{% endblock %}">
  <nav class="outer">
    <div class="mark left">
      <a class="logo" href="{{ root }}" alt="Apostrophe 2"></a>
    </div>
    <div class="links right">
      <ul class="page-links">
        {% for tab in ancestors[0].children %}
          <li class="page-link">
            <a href="{{ root }}{{ tab.url }}" class="{% if ancestors[1] and (tab.url == ancestors[1].url) %}selected{% endif %}">{{ tab.title | e }}</a>
          </li>
        {% endfor %}
        <li class="page-link">
          <a href="https://github.com/punkave/apostrophe" target="_blank">Github</a>
        </li>
        <li class="page-link search-box">
          <script>
            (function() {
              var cx = '005543154079868254739:jxhstkgpui4';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//www.google.com/cse/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
          </script>
          <gcse:searchbox></gcse:searchbox>
        </li>
      </ul>
    </div>
  </nav>
  {%- block googleSearchResults -%}
    <div class="gs-results" data-search style="display: none;">
      <div class="search-results inner">
        <gcse:searchresults></gcse:searchresults>
      </div>
    </div>
  {%- endblock -%}
  <div class="header {{ headerClass }} {% block headerClass %}{% endblock %}">
    <div class="inner {% block headerInnerClass %}{% endblock %}">
      <div class="breadcrumb">
        {% for page in ancestors %}<a href="{{ root }}{{ page.url }}">{{ page.title }}</a>{{ ' > ' if page.url != url }}{% endfor %}
      </div>
      <div class="header-content">
        {% block header %}
          <div class="doc-type">
            <div class="type-image {{ typeCheck() }} {{ docTypeClass() }}"></div>
          </div>
          <h1 class="{% if title.length > 30 %}long{% endif %}">{{ title | e }}</h1>
        {% endblock %}
      </div>
    </div>
  </div>
  {% block extraHeader%}
  {% endblock %}
  <div class="wrap outer">
    {% block inner %}
      <div class="inner">
        <div class="main">
          {% block previous %}
          {% endblock %}

          {% block main %}
          {% endblock %}

          {% block next %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
  <footer>
    <div class="inner">
      <div class="team-description">
        <a href="http://punkave.com" class="punk-logo"></a>
        Apostrophe is led by <a href="http://punkave.com">P'unk Avenue</a> in Philadelphia, PA.
      </div>
      <div class="credit">
        Generously hosted by <a href="http://linode.com">linode.</a>
      </div>
    </div>
  </footer>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-496991-42', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
