{% extends "layout.html" %}

{% block extraHeader%}
	<div class="clearfix full-width">
		<div class="sidebar">
      {% block sidebar %}
        <ul class="sidebar-section">
          {%  if ancestors.length == 1 %}
            {% for child in children %}
              <li class="sidebar-item"><a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a></li>
            {% endfor %}
          {% endif %}
          <li class="sidebar-title"><a href="{{ root }}{{ ancestors[1].url }}">{{ ancestors[1].title | e }}</a></li>
          {{ buildMenuTree(1) }}
        </ul>
      {% endblock %}
      <p class="sidebar-help">
        {% if typeCheck() == 'help' %}
          Are you a developer? You may want to check out our <a href="{{ root }}">documentation site</a>.
        {% else %}
          Are you an editor? You may want to check out our <a href="{{ root }}help">help site</a>.
        {% endif %}
      </p>
    </div>
		<div class="content">
			{% block topOfContent %}{% endblock %}
			{{ content }}
		</div>	
	</div>
{% endblock %}

{% block footer %}{% endblock %}