{% extends "layout.html" %}

{% block extraHeader%}
  <div class="clearfix full-width">
    <div class="sidebar">
      <div class="mark mark--sidebar">
        <a class="logo" href="{{ root }}" alt="Apostrophe 2"></a>
      </div>
      {% block sidebar %}
        <ul class="sidebar-section">
          {%  if ancestors.length == 1 %}
            {% for child in children %}
              <li class="sidebar-item"><a href="{{ root }}{{ child.url }}">{{ child.title | e }}</a></li>
            {% endfor %}
          {% endif %}
          <li class="sidebar-title"><a href="{{ root }}{{ ancestors[1].url }}">{{ ancestors[1].title | e }}</a></li>
          {{ buildMenuTree(1) }}
        </ul>
      {% endblock %}
    </div>
    <div class="wrap main">
      {% block topOfContent %}{% endblock %}
      {{ content }}
      {% block bottomOfContent %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
